.game-container {
    width: 500px;
    height: 730px;
    position: absolute;

}

.shallow {
    background-color: rgb(14, 134, 204);
    width: 500px;
    height: 580px;
    position: absolute;
}

.deep {
    background-color: rgb(2, 2, 77);
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
}

.turtle {
    background-color: green;
    width: 50px;
    height: 30px;
}